In [15]:
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import pandas as pd
%matplotlib inline

In [34]:
sig_band_cnt = []
with open("./tmp_sig_band_cnt5_32.txt",'r') as f:
    for line in f.readlines():
        sig_band_cnt.append(int(line.strip()))

In [35]:
sig_band_cnt = pd.Series(sig_band_cnt)
pd.DataFrame(sig_band_cnt.value_counts()).sort_index()

        0
2    1315
3     427
4     202
5     110
6      81
7      61
8      53
9      36
10     23
11     21
12     14
13      6
14     10
15      6
16      6
17      4
18      6
19      6
20      4
21      1
22      1
24      1
25      2
26      3
27      1
29      1
30      1
31      1
34      1
35      2
40      1
41      1
42      1
43      1
45      1
56      1
69      1
83      1
99      1
180     1

In [32]:
path = "/Users/liangsiqi/Documents/Dataset/yelp_rec_data/pure_jaccard_similarity.csv"
with open(path,'r') as f:
    i = 0
    for line in f.readlines():
        i+=1

In [33]:
i

645